
body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}
canvas {
  border: 2px solid yellow;
  background: #000;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}
#step1 p,
#step2 p,
#step3 p,
#step4 p {
  font-size: 2em !important;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
}
