body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  width: 100%;
  max-width: 2560px;
  height: auto;
  border: 2px solid yellow;
  background: #000;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#canvasWrapper {
  width: 2560px;
  margin: 0 auto;
}


.hidden {
  display: none;
}

.step-label {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.logo {
  height: 100px;
  object-fit: contain;
}

#logoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
